<button class="btn btn-primary" (click)="openDialog()">Add</button>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Created By</th>
      <th scope="col">Created At</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of measurements">
      <td scope="row">{{m.id}}</td>
      <td>{{m.name}}</td>
      <td>{{m.value}}</td>
      <td>{{m.createdBy}}</td>
      <td>{{m.createdAt}}</td>
      <td><button class="btn btn-secondary" (click)="onEdit(m.id)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteMeasurement(m.id)">Delete</button></td>
    </tr>
  </tbody>
</table>