<div class="container" *ngIf="measurement">
    <form [formGroup]="measurementForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name"
                placeholder="{{measurement.name}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Value</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="value"
                placeholder="{{measurement.value}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Created By</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="createdBy"
                placeholder="{{measurement.createdBy}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Created At</label>
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control"
                id="exampleFormControlInput1" formControlName="createdAt" placeholder="{{measurement.createdAt}}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>