<div class="container">
    <form [formGroup]="measurementForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name"
                placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Value</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="value"
                placeholder="Value">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Created By</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="createdBy"
                placeholder="Created By">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Created At</label>
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control"
                id="exampleFormControlInput1" formControlName="createdAt" placeholder="Created At">
        </div>
        <button type="submit" class="btn btn-primary">Add measurement</button>
    </form>
</div>